<template bindable="state">
  <section class="section">
    <div class="container">
      <div>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Pokémon #${state.pokeData.id}
            </p>
            <span class="icon">
              <i class="fa fa-exclamation" aria-hidden="true"></i>
            </span>
          </header>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img
                    src="${state.pokeData.sprites.front_default}"
                    alt="${state.pokeData.name}"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">${state.pokeData.name}</p>
                <p
                  repeat.for="type of state.pokeData.types"
                  class="is-6"
                >
                  <span class="icon"><i class="fa fa-chevron-right"></i></span
                  >${type.type.name}<span class="icon"
                    ><i class="fa fa-chevron-left"></i
                  ></span>
                </p>
              </div>
            </div>

            <div class="content">
              <div>
                <p class="title is-3">Abilities</p>
                <ul class="subtitle">
                  <li repeat.for="ability of state.pokeData.abilities">
                    ${ability.ability.name}
                  </li>
                </ul>
              </div>
              Some text here
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
